html {
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav,
main,
.features {
	background-color: rgb(245, 245, 245);
}

/******************************************
/* NAVBAR
/*******************************************/

nav,
.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	padding: 0 30px;
}

nav li {
	list-style-type: none;
}

nav a {
	color: black;
	text-decoration: none;
}

.button {
	background-color: rgb(55, 55, 120);
	padding: 5px 15px;
	border-radius: 3px;
	color: white;
}

/******************************************
/* MAIN
/*******************************************/

main {
	display: flex;
	padding-top: 40px;
	padding-left: 100px;
	gap: 20px;
	justify-content: space-between;
}

main div {
	width: 35%;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

main img {
	height: 400px;
	position: relative;
	margin-right: 0;
}

h1 {
	margin-top: 13px;
}

main div span {
	text-transform: uppercase;
}

/******************************************
/* MAIN
/*******************************************/

.searchbar input {
	display: inline;
	background-color: rgb(215, 215, 215);
	border: none;
	padding: 5px 7px;
}

.searchbar button {
	border: none;
	padding: 0 15px;
	color: white;
	background-color: rgb(55, 55, 120);
}

.searchbar {
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

.searchbar * {
	margin: 0;
}

/******************************************
/* FEATURES
/*******************************************/

.features {
	display: flex;
	padding: 60px 100px 30px 100px;
	gap: 20px;
}

.features a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.features img {
	height: 40px;
}

/******************************************
/* BOTTOM SECTION
/*******************************************/

.bottom {
	padding: 40px 100px;
}

.bottom img {
	width: 100%;
	padding: 15px 0;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	background-color: aliceblue;
}

footer section {
	display: flex;
	gap: 25px;
}

footer section img {
	width: 20px;
}

footer ul {
	display: flex;
	gap: 30px;
	padding: 0 0;
	margin: 3px;
}

.bald {
	list-style-type: none;
}

footer span {
	margin-top: 3px;
}
